H1{
    text-align: center;
}

a{
    text-decoration: none;
}


.cosa {
    background-color: #a68069;

}


img:hover{
    opacity: 0.5;
    width: 125px;
    height: 145px;
}


.li {
    text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nuevo{
    text-align: center;
    font-family: cursive;
    visibility: visible;
}

/*EDICION DE LIBROS*/

.libro1 {
    width: 150px;
    height: 200px;
    position: relative;
}

.libro2 {
    width: 150px;
    height: 200px;
}

.libro3 {
    width: 150px;
    height: 200px;

}

.libro4 {
    width: 150px;
    height: 200px;
}

.libro5 {
    width: 150px;
    height: 200px;
}

.libro6 {
    width: 150px;
    height: 200px;
    border-color: black;
}

.libro7 {
    width: 150px;
    height: 200px;
}

.libro8 {
    width: 150px;
    height: 200px;
}

.libro9 {
    width: 150px;
    height: 200px;
}

.libro10 {
    width: 150px;
    height: 200px;
}

.libro11 {
    width: 150px;
    height: 200px;
}

.libro12 {
    width: 150px;
    height: 200px;
}

.libro13 {
    width: 150px;
    height: 200px;
}

.libro14 {
    width: 150px;
    height: 200px;
}

.libro15 {
    width: 150px;
    height: 200px;
}

.libro16{
    width: 150px;
    height: 200px;
}

.libro17{
    width: 150px;
    height: 200px; 
}

.libro18{
    width: 150px;
    height: 200px;
}

.libro19{
    width: 150px;
    height: 200px;
}

.libro20{
    width: 150px;
    height: 200px;
}

.libro21{
    width: 150px;
    height: 200px;
}

.libro22{
    width: 150px;
    height: 200px;
}

.libro23{
    width: 150px;
    height: 200px;
}

.libro24{
    width: 150px;
    height: 200px;
}

.libro25{
    width: 150px;
    height: 200px;
}


/*TRILOGIAS*/


.trilo1 {
    width: 150px;
}

.trilo2 {
    width: 130px;
}

/*OTRAS COSAS*/

#tres {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin: 8%;
}

.button {
    width: 23%;
    float: left;
}


.posicionimage {
    width: 70%;
    float: left;
}

/*PAGINA DE LITERATURA JUVENIL*/
.no{
    
    color: coral;
}


/*PAGNA DE TRILOGIAS*/
.pe{
    
    color: plum;
}

/*PAGNA DE TRILOGIAS*/
.il{
    
    color: cyan;
}

/* PAGINA DE ACCION */
.tu{
    color: turquoise;
}

/* PAGINA DE AVENTURA*/
.re{
    color: green;
}

.aventura1{
    width: 150px;
    height: 200px;
}

.aventura2{
    width: 150px;
    height: 200px;
    
}

.coloraventura{
    background-color: black;
}


/* PAGINA DE BOOM*/
.hg{
   color: chocolate; 
}

/* PAGINA DE CIENCIA FISION*/
.we{
  color: cornflowerblue;  
}

/* PAGINA DE CUENTOS*/
.sa{
    color: darksalmon;
}

/* PAGINA DE EROTICO*/
.mo{
   color: red;
}
/* PAGINA DE FANTACIA*/
.am{
    color: mediumslateblue;
}

/* PAGINA DE fILOSOFICO*/
.mu{
    color: lightseagreen;
}

/* PAGINA DE MISTERIO*/
.le{
    color: midnightblue;
}

/* PAGINA DE ROMANCE*/
.to{
    color: peru;
}